<div class="cleaarfix"></div>
<footer id="footer">
    <div class="wrap">
        <div id="menu_footer">
            <h5>Menu</h5>
            <ul>
                <li><a [routerLink]="['/inicio']">Inicio</a></li>
                <li><a [routerLink]="['/helados']">Helados</a></li>
                <li><a [routerLink]="['/guardar-helado']">Guardar Helado</a></li>
                <li><a [routerLink]="['/contacto']">Contacto</a></li>
            </ul>
        </div>
        <div id="location">
            <h5>Encuentranos</h5>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7914201264566!2d-78.4911515501203!3d-0.2103968354561709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a107bb8a279%3A0x61ea7f5dbe8d08cc!2sFacultad%20de%20Sistema%20EPN%2C%20Andaluc%C3%ADa%2C%20Quito%20170143!5e0!3m2!1ses-419!2sec!4v1662260176612!5m2!1ses-419!2sec"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>

        </div>
        <div id="info">
            <h5>Contacto</h5>
            <h2>Dirección:</h2>
            <span>Quito, Pichincha, Ecuador</span>
            <h2>Teléfonos:</h2>
            <span>0123456789</span>
            <h2>Correo:</h2>
            <span>heladeria.araaza@gmail.com</span>

        </div>
    </div>
    <div class="clearfix"></div>
    <div id="autor">
        <p>
            Copyright &copy; 2023 | Todos Los Derechos Reservados |Quito, Ecuador <br>
            Designed by <br>
            <a href="mailto:kleber.albarracin@epn.edu.ec?subject=Ayuda"> Andres Albarracin</a> <br>
            <a href="mailto:marco.quichimbo@epn.edu.ec?subject=Ayuda"> Marco Quichimbo</a>
        </p>

    </div>
</footer>