<!--Formulario de contacto-->
<div id="formulario">
    <h2>Contacto</h2>
    <form>
        <ul>
            <li><label for="nombre">Nombre</label></li>
            <li><input class="ingresar" type="text" name="nombre"></li>
            <li><label for="Apellido">Apellido</label></li>
            <li><input class="ingresar" type="text" name="Apellido"></li>
            <li><label for="email">Email</label></li>
            <li><input class="ingresar" type="text" name="email"></li>
            <li><label for="editors">Elige el sexo</label></li>
            <li><select class="ingresar">
                    <option>Hombre</option>
                    <option>Mujer</option>
                </select>
            </li>
            <li><label for="born">Fecha de nacimiento</label></li>
            <li><input class="ingresar" type="text" name="born"></li>
            <li><label for="edad">Edad</label></li>
            <li><input class="ingresar" type="number" name="email"></li>
            <li><input class="btn_enviar" type="submit" name="nombre"></li>
        </ul>
    </form>
</div>